pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

.hljs {
    color: #000;
    background: #fff;
}

.hljs-addition,
.hljs-meta,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable {
    color: #f81d22;
}

.hljs-comment,
.hljs-quote {
    color: #636363;
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-regexp {
    color: #31a354;
}

.hljs-deletion,
.hljs-variable {
    color: #88f;
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-strong,
.hljs-tag,
.hljs-title,
.hljs-type {
    color: #008dff;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-attribute {
    color: #e6550d;
}

/* new */
.pre-code-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top: 0;
    margin: 0 0 15px;
    position: relative;
    transition: all .15s ease-out;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.pre-code-box .showCode {
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    box-shadow: 0 16px 15px -16px #0000001a;
    color: #505050;
    cursor: pointer;
}

pre>code {
    font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    line-height: 1.7;
    direction: ltr;
    white-space: pre;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: 0 0;
    font-size: 14px;
    border: 1px solid #f0f0f0;
}